.help{
    height: 80vh;
    background-color: rgb(8, 70, 39);
    margin-top: 10vh;
    display: flex;
}
.avatarHelp{
    width: 50%;
}
.avatarHelp img{
    margin-left: 20vh;
    height: 60vh;
    margin-top: 10vh;
    width: 60vh;
    border-radius: 20px;
}
.contentHelp h1{
    padding-top: 20vh;
    font-size: 60px;
    color: white;
}
.contentHelp h1 span{
    color: bisque;
}