.help {
    height: 70vh;
    background-color: rgb(8, 70, 39);
    margin-top: 10vh;
    display: flex;
  }
  
  .avatarHelp {
    width: 50%;
  }
  
  .avatarHelp img {
    height: 80%;
    width: 60%;
    margin-left: 10%;
    margin-top: 10vh;
    border-radius: 20px;
  }
  
  .contentHelp h1 {
    padding-top: 20vh;
    font-size: 60px;
    color: white;
  }
  
  .contentHelp h1 span {
    color: bisque;
  }
  
  @media (max-width: 768px) {
    .help {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 20px;
    }
  
    .avatarHelp {
      width: 100%;
    }
  
    .avatarHelp img {
      margin-left: 10%;
      margin-top: 5vh;
      width: 80%;
      height: 60%;
      border-radius: 20px;
    }
  
    .contentHelp {
      width: 80%;
      text-align: center;
    }
  
    .contentHelp h1 {
      font-size: 40px;
    }
  }
  
