.heroSection{
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  width:80vw;
}

@media (min-width: 768px) {
.heroSection {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
}

.label1{
  border: 1px solid black;
  font-size: 20px;
  border-radius: 20px;
  padding:5px;
  padding-left:10px;
  width: 60%;
}

.content{
  width: 100%;
  padding-top: 10vh;
}

.content h1{
  font-size: 70px;
  width:100%;

}

.content p{
  margin-top: 5vh;
  font-size: 1.2rem;
  line-height: 30px;
  font-size: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar{
padding:2%;
}

.avatar img{
  width:35rem;
}

@media (max-width: 768px) {
.avatar img {
  width: 100%;
}
}

.btns{
  margin-top: 5%;
  display: flex;
}

.helpBtn{
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.play {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
  cursor: pointer;
  margin-top: 1rem;
}

.playBtn{
  display: flex;
  margin-top: -1vh;
}

.playBtn p{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 15px;
}

.playBox{
  width: 3rem;
  height: 3rem;
  background-color: yellow;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 18px;
  padding-top: 1px;
  border-radius: 10px;
}

@media (max-width: 768px) {
.playBox {
  background-color: none;
}
.play{
  height: 10%;;
}
.playBtn p {
  margin-left: 2;
}

.content h1{
  font-size: 45px;
}
.label1{
  width: 100%;
  margin-bottom: 5%;
}
.content p{
  font-size: 1rem;
}
.avatar{
  margin-top: 5vh;
}
}