/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/css/Navbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.navbar {
  display: flex;
  background-color: #fff;
  padding: 0.5rem;
  max-width: 80vw;
  flex-wrap: wrap;
  margin-left: 10vw;
  border-bottom-left-radius:1rem;
  border-bottom-right-radius: 1rem;
}

.logo {
  font-size: 2rem;
  color: #444;
  padding: 0.3rem 1vw;
  border-radius: 0.25rem;
  font-weight: 700;
}

.opt {
  padding: 0.5vw;
  border-radius: 0.25rem;
  margin-left:30%;
}

.opt ul {
  display: flex;
  list-style: none;
  margin:0;
  padding: 0;
}

.opt ul li {
  margin-right: 1vw;
  padding: 0.4vw;
  font-weight: 600;
}
.opt ul li span{
  color: grey;
}

.language-selector {
  margin-top: -10px;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  
}

.language-selector select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5vw;
  padding-right: 2.5vw;
  border-radius: 0.25rem;
  color: #444;
  cursor: pointer;
  outline: none;
}

.language-selector:after {
  content: '\f078';
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;

}

.language-selector select:focus + :after {
  color: #0070f3;
  outline: none;
}

.language-selector select option {
  background-color: #fff;
  color: #444;
  outline: none;
}

.language-selector select option:checked {
  background-color: #0070f3;
  color: #fff;
}
.bt{
  
  margin-top: 0.5%;
  width: 10vw;
}
.navBtn{
  height: 2rem;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  border: 1px solid  black;
}

@media(max-width:768px){
  .opt{
    display: none;
  }
  .logo{
    font-size: 1rem;
  }
  button{
    display:none;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/css/Home.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f6f2bd;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/css/Hero.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.heroSection{
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  width:80vw;
}

@media (min-width: 768px) {
.heroSection {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
}

.label1{
  border: 1px solid black;
  font-size: 20px;
  border-radius: 20px;
  padding:5px;
  padding-left:10px;
}
.label1 h2{
  
}
.content{
  width: 100%;
  padding-top: 10vh;
}

.content h1{
  font-size: 70px;
  width:100%;

}

.content p{
  margin-top: 5vh;
  font-size: 1.2rem;
  line-height: 30px;
  font-size: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar{
padding:2%;
}

.avatar img{
  width:35rem;
}

@media (max-width: 768px) {
.avatar img {
  width: 100%;
}
}

.btns{
  margin-top: 5%;
  display: flex;
}

.helpBtn{
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.play {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
  cursor: pointer;
  margin-top: 1rem;
}

.playBtn{
  display: flex;
  margin-top: -1vh;
}

.playBtn p{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 15px;
}

.playBox{
  width: 3rem;
  height: 3rem;
  background-color: yellow;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 18px;
  padding-top: 1px;
  border-radius: 10px;
}

@media (max-width: 768px) {
.playBox {
  background-color: none;
}
.play{
  height: 10%;;
}
.playBtn p {
  margin-left: 2;
}

.content h1{
  font-size: 45px;
}
.label1{
  width: 100%;
  margin-bottom: 5%;
}
.content p{
  font-size: 1rem;
}
.avatar{
  margin-top: 5vh;
}
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/css/Help.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.help {
    height: 70vh;
    background-color: rgb(8, 70, 39);
    margin-top: 10vh;
    display: flex;
  }
  
  .avatarHelp {
    width: 50%;
  }
  
  .avatarHelp img {
    height: 80%;
    width: 60%;
    margin-left: 10%;
    margin-top: 10vh;
    border-radius: 20px;
  }
  
  .contentHelp h1 {
    padding-top: 20vh;
    font-size: 60px;
    color: white;
  }
  
  .contentHelp h1 span {
    color: bisque;
  }
  
  @media (max-width: 768px) {
    .help {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 20px;
    }
  
    .avatarHelp {
      width: 100%;
    }
  
    .avatarHelp img {
      margin-left: 10%;
      margin-top: 5vh;
      width: 80%;
      height: 60%;
      border-radius: 20px;
    }
  
    .contentHelp {
      width: 80%;
      text-align: center;
    }
  
    .contentHelp h1 {
      font-size: 40px;
    }
  }
  

